@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Dosis', sans-serif;
}

h1, p {
    margin: 5rem 0;
    font-size: 3rem;
    font-weight: bolder;
}

p {
    font-size: 1.5rem;
    font-weight: normal;
}

img {
    margin-bottom: 5rem;
}
